<ion-card mode="md">
  <ion-card-header>
    <ion-card-title>Plumber</ion-card-title>
    <ion-card-subtitle style="margin-top: 2px;font-size: 11px;">
      <ion-text class="company_lbl">XYZ,ABC,testy</ion-text><ion-text style="margin-left:5px;color:#111812">+64 companies</ion-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-label style="color:#111812;"><ion-text style="font-weight: 600;">60</ion-text> <ion-text style="margin-left: 5px;text-decoration:underline">Positions</ion-text></ion-label>
  </ion-card-content>
  
</ion-card>