<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="welcome_lbl_container ion-padding">
    <div class="welcome_txt" translate>app.language.welcome_to <span class="app_title" translate>app.title</span></div>
    <div class="description_txt" >Login to your account!</div>
  </div>
  
  <div class="ion-padding">
    <ion-input mode="md"  fill="outline" placeholder="Mobile Number"></ion-input>
    <div style="text-align: center;margin: 12px 0px;">“or”</div>
    <ion-input mode="md"  fill="outline" placeholder="kumar.singh@gmail.com"></ion-input>
  </div>
  
  <div class="center">
    <ion-button mode="md"  style="--background:var(--ion-color-krypurple);color:#fff;height:50px;width:90%;margin-top:20%;">Login</ion-button>
  </div>
  <div style="margin-top:15%;text-align:center;">
    <span style="color: #111812;font-size:14px;font-weight:400;"></span>I’m a New user, <ion-text style="    color: var(--ion-color-primary);font-size: 14px;font-weight: 700;">SIGN UP</ion-text>
  </div>
  <div style="text-align:center;margin-top:6%;">
    <ion-button mode="md" size="default" fill="solid"  shape="round" class="signupbtn ion-margin" (click)="doSignUp()">Sign Up</ion-button>
  </div>
</ion-content>
