ion-content{
  --background: #f5f6f9;
  --padding-start:8px;
  --padding-end:8px;
  .backbtn{
      padding-top: 10px;
      font-size: 1.5rem;
  }    
  .welcome_lbl_container{
      margin-bottom: 4%;
      margin-top: 3%;
  }
  .welcome_txt{
      font-size: 1.5rem;
      font-weight: 500;
  }
  .description_txt{
    font-size: 14px;
    font-weight: 500;
    color: #939191;
    padding: 3px 5px;
  }
}
.app_title{
  font-weight: bold;
  font-size: 1.5rem;
  background: linear-gradient(122deg, #1602FF 0%,#1602FF 40%, #D195F9 60%, #D195F9 100%);
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
-webkit-box-decoration-break: clone;
}

.center{
  text-align: center;
}
.signupbtn{
  height: 45px;
    width: 40%;
}
