<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/home/main">
      <ion-icon aria-hidden="true" class="tabicons" [src]= "selectedTab === 'main' ? 'assets/icon/home_fill_ico.svg' : 'assets/icon/home_no_ico.svg' " ></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="searchjob" href="/home/notifications">
      <ion-icon aria-hidden="true" class="tabicons" [src]= "selectedTab === 'searchjob' ? 'assets/icon/search_fill_ico.svg' : 'assets/icon/search_no_ico.svg' "></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="notifications" href="/home/notifications">
      <ion-icon aria-hidden="true" class="tabicons" [src]= "selectedTab === 'notifications' ? 'assets/icon/bell_fill_ico.svg' : 'assets/icon/bell_no_ico.svg' "></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmark" href="/home/bookmark">
      <ion-icon aria-hidden="true" class="tabicons" [src]= "selectedTab === 'bookmark' ? 'assets/icon/Bookmark_fill_ico.svg' : 'assets/icon/Bookmark_no_ico.svg' "></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/home/profile">
      <ion-icon aria-hidden="true" class="tabicons" [src]= "selectedTab === 'profile' ? 'assets/icon/person_fill_ico.svg' :'assets/icon/person_no_ico.svg' "></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>