ion-content{
  background-color: #E5E5E5;
  --padding-start:8px;
  --padding-end:8px;
  
  .input_container{
      padding: 0px 8px;
  }
  .rem_forgt_lbls{
      margin-top: 10px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      font-size: 14px;
  }
  .welcome_lbl_container{
      // margin-bottom: 15%;
      // margin-top: 10%;
  }
  .welcome_txt{
      font-size: 1.5rem;
      font-weight: 500;
  }
  .description_txt{
      font-size: 0.8rem;
      font-weight: 300;
      font-style: italic;
      color: #434242;
  }
  .job_promotion_lbl{
    color: #434242;
    margin-bottom: 15%;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 6%;
  }
  
}
.gradient_txt{
background: linear-gradient(148deg, #1602FF 0%, #1602FF 40%, #D195F9 60%, #992ab9 100%);;
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
-webkit-box-decoration-break: clone;
}
ion-input{
  background: #fff;
  border-radius: 10px;
  padding-left: 10px !important;
}
ion-checkbox {
  --size: 22px;
  --checkbox-background-checked: #D195F9;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #D195F9;
}
.remember{
  align-items: center;
  display: flex;
  .rem_lbl{
      margin-left:5px;
  }
}

.logintbn{
  height: 40px;
  width: 35%;
  font-size: 11px;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: initial !important;
}
.spantext{
  font-size: 12px;
  font-weight: 400;
}