
<ion-content [fullscreen]="true" color="light" >
  <ion-header class="ion-no-border" color="light">
    <ion-toolbar color="light">
      <ion-buttons slot="start" icononly>
      <ion-back-button mode="md" text="" default-href="/login"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header> 
  <div class="welcome_lbl_container ion-padding">
    <div class="welcome_txt">Forgot password</div>
    <div class="description_txt"></div>
  </div>
  <div class="phone_ui">
    <!-- <div class="job_promotion_lbl gradient_txt">10 lakh + job openings from best companies</div> -->
    <div class="input_container">
      <div class="ion-margin-bottom">
        <ion-input  mode="md" placeholder="Enter your email address" required>
        </ion-input>
        <span class="spantext">An OTP will be sent to your registered email</span>
      </div>

      <div style="text-align: end;">
        <ion-button mode="md" size="default" fill="solid" size="small" shape="round" class="logintbn ion-margin" [routerLink]="['/login']">Submit</ion-button>
      </div>
    </div>
</div>

</ion-content>
