ion-content{
    background-color: #E5E5E5;
    --padding-start:8px;
    --padding-end:8px;
    ion-toolbar{
      background: #f4f5f8;      
    }
    .input_container{
        padding: 8px;;
    }
    .rem_forgt_lbls{
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 14px;
    }
    .welcome_lbl_container{
        // margin-bottom: 15%;
        // margin-top: 10%;
    }
    .welcome_txt{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .description_txt{
        font-size: 0.8rem;
        font-weight: 300;
        font-style: italic;
        color: #434242;
    }
    .job_promotion_lbl{
      color: #434242;
      margin-bottom: 15%;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      margin-top: 6%;
    }
    
}
.gradient_txt{
  background: linear-gradient(148deg, #1602FF 0%, #1602FF 40%, #D195F9 60%, #992ab9 100%);;
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	-webkit-box-decoration-break: clone;
}
ion-input{
    background: #fff;
    border-radius: 6px;
    padding-left: 5px !important;
}
ion-checkbox {
    --size: 22px;
    --checkbox-background-checked: #D195F9;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #D195F9;
  }
  .remember{
    align-items: center;
    display: flex;
    .rem_lbl{
        margin-left:5px;
    }
  }

  .logintbn{
    height: 40px;
    width: 40%;
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: initial !important;
  }
  .otpbtn{
    height: 40px;
    width: 30%;
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: initial !important;
  }
  .new_member_lbl{
    text-align: center;
    margin-top: 16px;
  }
  
.spantext{
    font-size: 12px;
    font-weight: 400;
}
.new_member_lbl{
  text-align: center;
  margin-top: 16px;
  font-weight: 600;
  font-size: 0.8rem;
}
.back_ico{
  font-size: 1.1rem;
  color: var(--ion-color-dark);
}
.error_msg{
  font-size:12px;
}