.font15{
    font-size: 1.5rem;
}
.activelyHiring{
    margin-left: 16px;
    margin-top: 8px;
    background-image: linear-gradient(to right, #ffff45, #ffde35, #ffbe34, #ffbe34, #ffbe34, #ffbe34, #ffbe34, #ffbe34, #ffbe34, #ffbe34, #ffbe34, #ffbe34);
    font-size: 13px;
    color: #1e2023;
}