<ion-header class="ion-no-border" >
  <ion-toolbar class="ion-no-border" color="krygray">
    <div class="toolbar_header_top">
      <div > 
        <div class="app_title">KAMAi</div>
          <div class="user_name">
          <ion-text>Hello, <span style="font-weight: 600;">John Doe</span></ion-text>
        </div>
      </div>
      <div class="tb_right_container">
      
        <ion-icon class="lang_icon" src="../../assets/icon/lang_ic.svg" (click)="changeLanguage()"></ion-icon>
        <ion-avatar (click)="goToProfile()">
          <img alt="user_photo" src="../../assets/icon/avatar.svg" />
        </ion-avatar>
      </div>
    </div>
    <div class="searchbox lightbackground">
        <ion-icon style="margin: 0px 8px;" src="../../assets/icon/search.svg" class="seach_font_sz"></ion-icon>
        <input class="searchinput" placeholder="Search at KAMAi" type="text" (input)="onSearchInputChange($event)" >
        <ion-icon style="margin-right: 8px;" src="../../assets/icon/mic.svg" class="seach_font_sz" (click)="doSearchVoiceAction()"></ion-icon>
        <ion-icon src="../../assets/icon/filter.svg" class="seach_font_sz" (click)="doFilterAction()"></ion-icon>
    </div>
  </ion-toolbar>
  
</ion-header>
 
<ion-content [fullscreen]="true" class="" color="krygray">
 
  @if (recomendedjobs.length > 0) { 
    <ion-list lines="none" class="recentJobs">

      <div style="display: flex;align-items: center;margin: 0px 16px;justify-content: space-between;">
        <ion-label class="jobs_lbl">
          Recommended Jobs
        </ion-label>
        <ion-button fill="clear" size="small" color="medium" mode="ios">
          <ion-text class="show_all" (click)="showAllRecomendedJobs()">
            Show all
          </ion-text>
        </ion-button>
      </div> 

      @for (job of recomendedjobs; track job.id) {
        <!-- <ion-item class="ion-margin-bottom" [routerLink]="['/', 'tabs', 'job', job.id]"> -->
        <ion-card class="rec_job_card" (click)="onJobClick()">
          <ion-item>
            <ion-avatar slot="start" class="imgavatar">
              <img [src]="'assets/icon/c_logo.svg'">
            </ion-avatar>
            <ion-label class="recent">
              {{job?.company}}
              <p style="color: rgba(17, 24, 18, 0.5);font-weight: 400;font-size: 12px;">
                 {{job?.location}} 
              </p>
            </ion-label>
            <ion-text slot="end" class="rec_job_icons" mode="ios">
              <span style="font-weight: 600;">{{job?.rating}} <ion-icon src="assets/icon/Star.svg"></ion-icon></span>
            </ion-text>
          </ion-item>
          <div>
            <ion-item style="--background: #F9F8FD;">
              <div class="btm_text_lbl" slot="start">
                <div style="margin-left: 12px;font-size: 18px;font-weight: 600;padding-bottom: 5px;">{{job?.post}}</div>
                <div style="font-weight: 500;margin-left: 12px;margin-bottom: 5px;font-size: 14px;">₹{{job?.salary}}</div>
                <ion-chip>
                  {{job?.type}}
                </ion-chip>
                <ion-chip>
                  {{job?.position}}
                </ion-chip>
                <div *ngIf="job?.hiring == 'active'" class="activelyHiring"><ion-icon src="assets/icon/flame.svg"></ion-icon> <span style="margin-left:5px;">Actively Hiring</span></div>
              </div>
              <div style="width: 100%;text-align: end;">
                <div style="color:#111812;font-size: 12px;margin-top: 8px;">Posted <span style="font-weight: 500;" [ngStyle]="{'color':job?.posted=='Just Now'? '#f59300':''}">{{job?.posted}}</span></div>
                <ion-icon slot="end" src="assets/icon/fwd_ico.svg" style="margin-top: 35px;height: 33px;width: 33px;"></ion-icon>
              </div>
              <!-- <ion-button size="small" class="easyapply_btn" slot="end" mode="md" style="text-transform: initial;" (click)="easyApply($event, job)">Easy apply</ion-button> -->
            </ion-item>
            
            
          </div>
        </ion-card>
      }

    </ion-list>
  }
  <ion-list lines="none" class="" color="krygray">
      <ion-label class="sample_hdr_lbl">
        Train yourself with sample videos
      </ion-label>
      <ion-item class="video_container_item" color="krygray">
        <ion-card slot="start" class="video_card">
          <video controls style="height: 100%;width: 100%;object-fit: cover;">
            <source src="https://videos.pexels.com/video-files/3209663/3209663-uhd_3840_2160_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
         <div class="overlay">
          <span>Play video for the reference</span>
         </div>
        </ion-card>
        <ion-card slot="start" class="video_card">
          <video controls style="height: 100%;width: 100%;object-fit: cover;">
            <source src="https://videos.pexels.com/video-files/3209663/3209663-uhd_3840_2160_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
         <div class="overlay">
          <span>Play video for the reference</span>
         </div>
        </ion-card>
        <!-- <div slot="end" class="video_help_txt">
          <div class="video_help_header">Confused?</div>
          <div class="video_help_desc1">How to get ready for the video resume?</div>
          <p class="video_help_desc2">Don’t worry, we got you. <ion-text class="video_hint_text">Click this video</ion-text> to see the reference</p>
        </div> -->
      </ion-item>
    </ion-list>
</ion-content>
