

<ion-content [fullscreen]="true" color="xlight" mode="ios">
  <ion-header class="ion-no-border" color="xlight">
    <ion-toolbar color="xlight">
      <ion-buttons slot="start" icononly>
      <ion-back-button mode="md" text="" default-href="/login"></ion-back-button>
    </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>  
  
  <div class="welcome_lbl_container ion-padding-bottom ion-padding-start">
    <div class="welcome_txt">Create your KAMAi profile</div>
    <div class="description_txt">Please fill in the required details</div>
  </div>
  <div class="input_container">
    <div class="" style="margin-bottom: 10px;">
      <ion-list style="border-radius: 10px;">
        <ion-item lines="none">
          <ion-label position="stacked" class="input_lbl">Full Name*</ion-label>
          <ion-input style="border: 1px solid lightgray;border-radius: 6px;" placeholder="Enter your full Name" required type="text" [(ngModel)]="name" (ionChange)="nameChange()"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label position="stacked" class="input_lbl">Location*</ion-label>
          <ion-input style="border: 1px solid lightgray;border-radius: 6px;" placeholder="Enter your Location" required type="text" [(ngModel)]="location" (ionChange)="locationChange()"></ion-input>
        </ion-item>
      </ion-list>
      
      <div class="ion-padding">
        <div class="input_lbl">Pick 5 jobs you’re interested in</div>
        <div style="font-size: 13px;color: #545454;">Please fill in the required details</div>
      </div>
      <ion-searchbar class="custom" placeholder="Search for job roles" mode="md"></ion-searchbar>
      <div class="job_roles">
        <ion-chip class="btn" color="krypurple" [outline]="true" mode="ios" *ngFor="let role of jobroles;let i=index" [class.selectedCls]="role.selected === true" (click)="onSelect(role,i)">
          <ion-label >{{role.name}}</ion-label>
        </ion-chip>
      </div>
      <span class="ortxt">Or</span>
      <div style="padding: 8px 16px 16px;">
        <ion-checkbox color="primary" labelPlacement="end" (ionChange)="onisRoleChange($event)">Open for any Job Roles</ion-checkbox>
      </div>
    </div>
  </div>
    <div class="policytext"><ion-text>By clicking register,you agree to KAMAi's <a href="#" color="primay" style="text-decoration: none;">Terms & conditions </a> and <a href="#" color="primay" style="text-decoration: none;">Privacy Policy</a></ion-text></div>
    <div style="text-align: center;">
      <ion-button mode="md" size="default" fill="solid"  shape="round" class="logintbn ion-margin" [ngClass]=" isDisabled ?'': 'validbtn' " (click)="doRegister()" [disabled]="isDisabled">Save & Next</ion-button>
    </div>
</ion-content>
